<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title|default('BIM-Cuisine') }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="Son-Michel DINH, Julie KLEINE-SCHULTJANN, Rafik MANKOUR et Adrian ZURMELY">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
{% block head %}{% endblock %}
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light .d-block .d-md-none justify-content-between">
      <a class="navbar-brand text-white" href="{{ url_for('index') }}">Accueil</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="{{ url_for('recettes') }}">Recettes</a></li>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" href="{{ url_for('contact') }}">Contact</a></li>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="/recettes">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Recette, ingrédient..." aria-label="Chercher" minlength="2" maxlength="40">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </nav>

{% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="text-white sticky-bottom">
      <div class="text-center bg-light py-2">Son-Michel DINH, Julie KLEINE-SCHULTJANN, Rafik MANKOUR et Adrian ZURMELY
      <div class="text-center bg-light py-2">
        Étudiants de 4ème année <a href="https://www.insa-lyon.fr/" class="my-link" target="_blank" rel="noopener noreferrer">INSA Lyon</a> -
        <a href="https://biosciences.insa-lyon.fr/" class="my-link" target="_blank" rel="noopener noreferrer">Département Biosciences</a> -
        Filière Bio-Informatique et Modélisation
      </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
