<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title|default('Site de merde') }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="Son-Michel DINH">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css'">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% block head %}{% endblock %}
  </head>
  <body>
    <ul id="navbarMenu">
      <li class="navItem"><a href="">Home</a></li>
      <li class="navItem"><a href="">Users</a></li>
      <li class="navItem"><a href="">Users (api)</a></li>
      <li class="navItem"><a href="">About</a></li>
      <li class="navItem" style="float:right">
        <form class="" method="get" action="/search/">
          <input class="" placeholder="Search" type="text" name="pattern">
          <button class="" type="submit">Search</button>
        </form>
      </li>
    </ul>
{% block content %}{% endblock %}

    <!--<script src="{{ url_for('static', filename='script.js') }}"></script>-->
  </body>
</html>
