{% extends "base.html" %}

{% block content %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-title" data-aos="fade-up">
			<h1 class="centered-text">Contact us</h1>
		</div>
		
		<div class="container bg-white rounded">
			<!--Section description-->
			<p class="text-center w-responsive mx-auto mt-4 mb-4">
			Des questions ? N'hésitez pas à nous contacter directement. Notre équipe vous répondra dans les plus brefs délais.
			</p>
			
			<div class="container mb-4">
				<div class="row">
			    
					<div class="col text-center">
						<i class="fas fa-map-marker-alt mt-3 fa-2x"></i>
							<p>Lyon, 69, FRANCE</p>
					
					</div>
				
					<div class="col text-center">
						<i class="fas fa-phone mt-3 fa-2x"></i>
							<p>+ 06 47 82 55 90</p>				

					</div>
				
					<div class="col text-center">
						<i class="fas fa-envelope mt-3 fa-2x"></i>
							<p>projet_web_2021@mdbootstrap.com</p>

					</div>
				</div>
				

			</div>
		</div>	
	</div>
</div>

<style type="text/css">
	footer{
		width: 100%;
		position: absolute;
		bottom: 0
	}
</style>
{% endblock %}
