{% extends "base.html" %}

{% block content %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-title" data-aos="fade-up">
			<h1 class="centered-text">Contact us</h1>
		</div>
		
		<div class="container bg-white">
			<!--Section description-->
			<p class="text-center w-responsive mx-auto mb-5">
			Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.
			</p>
			
			<div class="container">
				<div class="row justify-content-around">
				<div class="row">
			    
					<div class="col text-center">
						<i class="fas fa-map-marker-alt fa-2x"></i>
							<p>Lyon, 69, FRANCE</p>
					
					</div>
				
					<div class="col text-center">
						<i class="fas fa-phone mt-4 fa-2x"></i>
							<p>+ 06 47 82 55 90</p>				

					</div>
				
					<div class="col text-center">
						<i class="fas fa-envelope mt-4 fa-2x"></i>
							<p>projet_web_2021@mdbootstrap.com</p>

					</div>
				</div>
				</div>

			</div>
		</div>	
	</div>
</div>
{% endblock %}
