{% extends "base.html" %}

{% block content %}

{% if reset %}
<div class="container my-container">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		Base de données <strong>réinitialisée</strong> avec succès ! (supprimer le cache si besoin)
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
{% endif %}

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-title" data-aos="fade-up">
			<h1 class="centered-text">Bienvenue à Soupex !</h1>
		</div>
	</div>
</div>

<div class="container">
    <div class="row justify-content-around my-subtitle">
		<h2>Recettes de la semaine</h2>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="card-deck">
		  <div class="card" data-aos="fade-up" data-aos-delay="200">
		  	<a class="my-link-2" href="{{ url_for('recette') }}/{{ week_recipes[0]['id'] }}">
			    <img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ week_recipes[0]['image'] }}" alt="Card image cap">
			    <div class="card-body">
			      <h3 class="card-title text-center">{{ week_recipes[0]["name"] }}</h3>
			    </div>
		    </a>
		  </div>
		  <div class="card" data-aos="fade-up" data-aos-delay="400">
		  	<a class="my-link-2" href="{{ url_for('recette') }}/{{ week_recipes[1]['id'] }}">
			    <img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ week_recipes[1]['image'] }}" alt="Card image cap">
			    <div class="card-body">
			      <h3 class="card-title text-center">{{ week_recipes[1]["name"] }}</h3>
			    </div>
		    </a>
		  </div>

		  <div class="card" data-aos="fade-up" data-aos-delay="600">
		  	<a class="my-link-2" href="{{ url_for('recette') }}/{{ week_recipes[2]['id'] }}">
			    <img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ week_recipes[2]['image'] }}" alt="Card image cap">
			    <div class="card-body">
			      <h3 class="card-title text-center">{{ week_recipes[2]["name"] }}</h3>
			    </div>
		    </a>
		  </div>

		</div>
	</div>
</div>

<div class="container">
    <div class="row justify-content-around my-subtitle">
		<h2>Recettes de la semaine</h2>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="card-deck">
		  <div class="card" data-aos="fade-up" data-aos-delay="200">
		  	<a class="my-link-2" href="{{ url_for('recette') }}/{{ week_recipes[3]['id'] }}">
			    <img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ week_recipes[3]['image'] }}" alt="Card image cap">
			    <div class="card-body">
			      <h3 class="card-title text-center">{{ week_recipes[3]["name"] }}</h3>
			    </div>
		    </a>
		  </div>

		  <div class="card" data-aos="fade-up" data-aos-delay="400">
		  	<a class="my-link-2" href="{{ url_for('recette') }}/{{ week_recipes[4]['id'] }}">
			    <img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ week_recipes[4]['image'] }}" alt="Card image cap">
			    <div class="card-body">
			      <h3 class="card-title text-center">{{ week_recipes[4]["name"] }}</h3>
			    </div>
		    </a>
		  </div>

		  <div class="card" data-aos="fade-up" data-aos-delay="600">
		  	<a class="my-link-2" href="{{ url_for('recette') }}/{{ week_recipes[5]['id'] }}">
			    <img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ week_recipes[5]['image'] }}" alt="Card image cap">
			    <div class="card-body">
			      <h3 class="card-title text-center">{{ week_recipes[5]["name"] }}</h3>
			    </div>
		    </a>
		  </div>

		</div>
	</div>
</div>
{% endblock %}
