{% extends "base.html" %}

{% block content %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-title" data-aos="fade-up">
			<h1 class="centered-text">Recettes</h1>
		</div>
	</div>
</div>

{% if recipes and to_hide == 0 %}
{% for i in range(card_deck_nb) %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="card-deck">

			{% for j in range(0 + 3*i, 3*(i+1)) %}

			<div class="card" data-aos="fade-up">
				<a class="my-link-2" href="{{ url_for('recette') }}/{{ recipes[j]['id'] }}">
					<img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ recipes[j]['image'] }}" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center">{{ recipes[j]["name"] }}</h3>
					</div>
				</a>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endfor %}
{% endif %}

{% if recipes and to_hide > 0 %}
{% for i in range(card_deck_nb-1) %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="card-deck">

			{% for j in range(0 + 3*i, 3*(i+1)) %}

			<div class="card" data-aos="fade-up">
				<a class="my-link-2" href="{{ url_for('recette') }}/{{ recipes[j]['id'] }}">
					<img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ recipes[j]['image'] }}" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center">{{ recipes[j]["name"] }}</h3>
					</div>
				</a>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endfor %}

{% if to_hide == 1 %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="card-deck">

			<div class="card" data-aos="fade-up">
				<a class="my-link-2" href="{{ url_for('recette') }}/{{ recipes[recipes|length-2]['id'] }}">
					<img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ recipes[recipes|length-2]['image'] }}" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center">{{ recipes[recipes|length-2]["name"] }}</h3>
					</div>
				</a>
			</div>

			<div class="card" data-aos="fade-up">
				<a class="my-link-2" href="{{ url_for('recette') }}/{{ recipes[recipes|length-1]['id'] }}">
					<img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ recipes[recipes|length-1]['image'] }}" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center">{{ recipes[recipes|length-1]["name"] }}</h3>
					</div>
				</a>
			</div>

			<div class="card" data-aos="fade-up" style="visibility: hidden;">
				<a class="my-link-2" href="">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center"></h3>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
{% endif %}

{% if to_hide == 2 %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="card-deck">
			
			<div class="card" data-aos="fade-up">
				<a class="my-link-2" href="{{ url_for('recette') }}/{{ recipes[recipes|length-1]['id'] }}">
					<img class="card-img-top" src="{{ url_for('static', filename='asset/images/') }}{{ recipes[recipes|length-1]['image'] }}" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center">{{ recipes[recipes|length-1]["name"] }}</h3>
					</div>
				</a>
			</div>

			<div class="card" data-aos="fade-up" style="visibility: hidden;">
				<a class="my-link-2" href="">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center"></h3>
					</div>
				</a>
			</div>

			<div class="card" data-aos="fade-up" style="visibility: hidden;">
				<a class="my-link-2" href="">
					<img class="card-img-top" src="" alt="Card image cap">
					<div class="card-body">
						<h3 class="card-title text-center"></h3>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>
{% endif %}
{% endif %}

{% if recipes|length == 0 %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12" data-aos="zoom-in-down" style="height: auto">
			<h3 class="centered-text bg-white rounded" style="padding: 10%; margin-top: 15%">Aucune recette trouvées 😔</h3>
		</div>
	</div>
</div>

<style type="text/css">
	footer{
		width: 100%;
		position: absolute;
		bottom: 0
	}
</style>
{% endif %}

{% endblock %}