{% extends "base.html" %}

{% block content %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-title" data-aos="fade-up">
			<h1 class="centered-text">Nom de la recette</h1>
		</div>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-7 my-col" data-aos="fade-right" style="height: auto">
			
		</div>
		<div class="col-md-5 img-col" data-aos="fade-left" style="display:flex; align-items:center;">
			<a href="#">
				<img class="recipe-img" src="https://via.placeholder.com/900x300" alt="dish">
			</a>
		</div>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-2" data-aos="zoom-in-down" style="height: auto">
			
		</div>
	</div>
</div>
{% endblock %}