{% extends "base.html" %}

{% block content %}
<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-title" data-aos="fade-up">
			<h1 class="centered-text">{{ recipe["name"] }}</h1>
		</div>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-7 my-col" data-aos="fade-right" style="height: auto">
			<h3>Ingrédients</h3>
			<ul>
				{% for i in range(recipe['ingredients']|length) %}
				<li><h6>{{ recipe['quantities'][i] }} <strong>{{ recipe['ingredients'][i] }}</strong></h6></li>
				{% endfor %}
			</ul>

		</div>
		<div class="col-md-5 img-col" data-aos="fade-left" style="display:flex; align-items:center;">
			<a href="#">
				<img class="recipe-img" src="{{ url_for('static', filename='asset/images/') }}{{ recipe['image'] }}" alt="dish">
			</a>
		</div>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col" data-aos="zoom-in-down" style="height: auto">
			<h3>Préparation</h3>

			<ol>
				{% for step in recipe['preparation'] %}
				<li class="my-li"><h4>{{ step }}</h4></li>
				{% endfor %}
			</ol>

		</div>
	</div>
</div>

<div class="container my-container">
	<div class="row justify-content-around">
		<div class="col-md-12 my-col-3" data-aos="zoom-in-down" style="height: auto">
			<h3>Commentaires {{ recipe['comments']|length }}</h3>
			<ul class="list-group">
				{% for comment in  recipe['comments'] %}
				<li class="list-group-item"><strong>{{ comment['author'] }}</strong> <small>{{ comment['date'] }}</small> : {{ comment['content']}}</li>
				{% endfor %}
			</ul>

			<h3 style="margin-top: 20px">Ajouter un commentaire</h3>
			<form method="post" action="/recette/{{ recipe['id'] }}">
				<div class="form-group mt-2">
					<label for="author">Votre petit nom :</label>
					<input class="form-control" name="author" id="author" style="margin-bottom: 15px"></input>
					<label for="content">Entrer votre commentaire :</label>
					<textarea class="form-control" name="content" id="content" rows="4"></textarea>
				</div>
			    <div class="col-auto">
			    	<button type="submit" class="btn btn-primary mb-2 mt-2">Soumettre le commentaire</button>
			    </div>	
			</form>
		</div>
	</div>
</div>
{% endblock %}